@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.social-card {
  text-align: center;
  width: 360px;
  background-color: hsl(0, 0%, 12%);
  height: auto;
  margin: 110px auto 90px;
  padding: 30px;
  border-radius: 20px;
}

.social-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0 20px 0;
}

.social-name {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  font-weight: 600;
}

.social-loc {
  font-size: 1rem;
  color: hsl(75, 94%, 57%);
  margin-bottom: 20px;
}

.social-text {
  font-size: 1rem;
  color: hsl(0, 0%, 70%);
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 400;
}

.social-btn {
  display: block;
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  margin: 15px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 20%);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-btn:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

.attribution {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
  margin: 0 20px;
}
.attribution a {
  color: hsl(75, 94%, 57%);
  text-decoration: none;
}
