:root {
  --c-purple-50: hsl(260, 100%, 95%);
  --c-purple-300: hsl(264, 82%, 80%);
  --c-purple-500: hsl(263, 55%, 52%);

  --c-white: hsl(0, 0%, 100%);
  --c-grey-100: hsl(214, 17%, 92%);
  --c-grey-200: hsl(0, 0%, 81%);
  --c-grey-400: hsl(224, 10%, 45%);
  --c-grey-500: hsl(217, 19%, 35%);
  --c-dark-blue: hsl(219, 29%, 14%);
  --c-black: hsl(0, 0%, 7%);
}

@layer default {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Barlow Semi Condensed;
    background-color: var(--c-grey-100);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--c-white);
    place-items: center;
    line-height: 1.6;
  }

  .container {
    width: min(1200px, 90%);
  }

  h1,
  h2 {
  }
}

@layer grid {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 100%));

    gap: 2.5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
  }

  .box {
    padding: 1.7rem;
    border-radius: 5px;
  }

  .box h2 {
    font-size: 1.25rem;
  }

  .box p {
    font-size: 0.9rem;
    margin-block: 0.25rem 1rem;
  }

  .box:nth-child(1) {
    background-color: var(--c-purple-500);
  }
  .box:nth-child(2) {
    background-color: var(--c-grey-500);
  }
  .box:nth-child(3),.box:nth-child(5) {
    background-color: var(--c-white);
    color: var(--c-grey-500);
  }
  .box:nth-child(4) {
    background-color: var(--c-dark-blue);
  }
  .box:nth-child(5) {
  }
  /* img {
    align-self: flex-end;
    margin-bottom: 1rem;
  } */

  /* @media (min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 240px);
      gap: 2rem;
    }
    .box:nth-child(1) {
      grid-row: 1/3;
      align-self: center;
      grid-column: 1 / 2;
    }
    .box:nth-child(2) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    .box:nth-child(3) {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .box:nth-child(4) {
      grid-row: 1/3;
      grid-column: 3 / 4;
      align-self: center;
    }
  } */
}
@layer footer {
  footer {
    padding-block: 2rem;
    color: var(--c-black);
  }
  .attribution {
    font-size: 0.75rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
