:root {
  --c-purple-50: hsl(260, 100%, 95%);
  --c-purple-300: hsl(264, 82%, 80%);
  --c-purple-500: hsl(263, 55%, 52%);

  --c-white: hsl(0, 0%, 100%);
  --c-grey-100: hsl(214, 17%, 92%);
  --c-grey-200: hsl(0, 0%, 81%);
  --c-grey-400: hsl(224, 10%, 45%);
  --c-grey-500: hsl(217, 19%, 35%);
  --c-dark-blue: hsl(219, 29%, 14%);
  --c-black: hsl(0, 0%, 7%);
}

@layer default {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--c-grey-100);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    color: var(--c-grey-100);
    place-items: center;
    line-height: 1.3;
    font-size: 13px;
  }

  .container {
    width: min(1200px, 90%);
    margin-top: 4rem;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@layer grid {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(285px, 100%));
    grid-template-rows: auto;
    gap: 1rem;

    justify-content: center;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .box {
    padding: 1.7rem;
    border-radius: 5px;
  }
  .box h2 {
    font-size: 1.5em;
    font-weight: 600;
  }

  .testimonial {
    font-size: 1em;
  }
  .box:nth-child(1) {
    background-color: var(--c-purple-500);
  }
  .box:nth-child(2) {
    background-color: var(--c-grey-500);
  }
  .box:nth-child(3),
  .box:nth-child(5) {
    background-color: var(--c-white);
    color: var(--c-grey-500);
  }
  .box:nth-child(4) {
    background-color: var(--c-dark-blue);
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
  }

  img {
    display: block;
    border-radius: 50%;
    width: 30px;

    align-self: center;
  }

  .info h3 {
    font-size: 1em;
    font-weight: 500;
  }

  .info p {
    font-size: 0.85em;
  }

  .box:nth-child(1) .profile img {
    border: 2px solid var(--c-purple-300);
  }
  .box:nth-child(2) .profile img,
  .box:nth-child(3) .profile img,
  .box:nth-child(5) .profile img {
    border: 2px solid var(--c-grey-200);
  }
  .box:nth-child(4) .profile img {
    border: 2px solid var(--c-purple-500);
  }

  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .box:nth-child(1) {
      grid-area: 1 / 1 / 4/2;
    }
    .box:nth-child(2) {
      grid-area: 1/2/3/3;
    }
    .box:nth-child(3) {
      grid-area: 3/2/4/4;
    }
    .box:nth-child(4) {
      grid-area: 1/3/3/4;
    }
    .box:nth-child(5) {
      grid-area: 4/1/5/4;
    }
  }

  @media (min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 280px);
    }
    .box:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1 / 3;
    }
    .box:nth-child(2) {
      grid-row: 1/2;
      grid-column: 3/4;
    }
    .box:nth-child(3) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    .box:nth-child(4) {
      grid-row: 2/3;
      grid-column: 2 / 4;
    }

    .box:nth-child(5) {
      grid-row: 1/3;
      grid-column: 4/5;
    }
  }
}

@layer footer {
  footer {
    padding-block: 2rem;
    color: var(--c-black);
  }
  .attribution {
    font-size: 0.75rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
