:root {
  --c-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --c-desaturated-dark-blue: hsl(214, 17%, 51%);
  --c-grayish-blue: hsl(212, 23%, 69%);
  --c-light-grayish-blue: hsl(210, 46%, 95%);
}

@layer default {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Manrope", sans-serif;
    background-color: var(--c-light-grayish-blue);
    min-height: 100vh;
    color: var(--c-very-dark-grayish-blue);
    line-height: 1.3;
    font-size: 13px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
  }

  .container {
    width: min(88%, 400px);
  }
  h1 {
    font-size: 1.35em;
    font-weight: 700;
  }
  p {
    font-size: 1em;
    font-weight: 500;
  }
  @media (min-width: 640px) {
    /* .container {
      width: min(60%,600px);
    } */
  }
}

@layer main {
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    background-color: white;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    overflow: hidden;
  }
  .article-image-wrapper {
    height: 200px;
    overflow: hidden;
  }

  .article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .article-container {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .article-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 2rem;
    width: 100%;
    background-color: var(--c-light-grayish-blue);
  }
  .article-author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .article-author-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.75em;
  }
  .article-author-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  /* 
  @media (min-width: 640px) {
    main {
      flex-direction: row;
    }
  }  */
}

@layer share-components {
  .article-share {
    position: relative;
  }

  .article-share-button {
    border: 1px solid var(--c-grayish-blue);
    background-color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    transition: background-color 0.2s ease;
  }

  .article-share-button:hover {
    background-color: var(--c-light-grayish-blue);
  }

  .article-share-active {
    position: absolute;

    right: -100%;
    width: 100%;
    background-color: var(--c-very-dark-grayish-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;
    /*
 
   z-index: 10;

 

    background-color: var(--c-dark-grayish-blue);
    color: white;

    padding: 1rem 1.5rem;
    border-radius: 0.5rem; */

    /* opacity: 0;
    visibility: hidden; */
    /* transform: translateY(10px);
    transition: all 0.2s ease; */
  }
  .article-share-icons {
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .article-share-active.active {
    inset: 0;
    /* opacity: 1;
    visibility: visible;
    transform: translateY(0); */
  }
}

@layer footer {
  footer {
    padding-block: 2rem;
    color: var(--c-very-dark-grayish-blue);
  }
  .attribution {
    font-size: 0.75rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
