:root {
  --c-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --c-desaturated-dark-blue: hsl(214, 17%, 51%);
  --c-grayish-blue: hsl(212, 23%, 69%);
  --c-light-grayish-blue: hsl(210, 46%, 95%);
}

@layer default {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Manrope", sans-serif;
    background-color: var(--c-light-grayish-blue);
    min-height: 100vh;
    color: var(--c-very-dark-grayish-blue);
    font-size: 13px;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
  }

  .container {
    width: min(80%, 700px);
  }
  h1 {
    font-size: 1.25em;
    font-weight: 700;
  }
  p {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

@layer main {
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .article-image-wrapper {
    height: 180px;
    overflow: hidden;
  }

  .article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .article-container {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .article-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 2rem;
    width: 100%;
  }

  .article-author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .article-author-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.75em;
  }
  .article-author-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    padding-block: 1em;
  }

  .article-author {
    font-weight: 700;
    font-size: 1.25em;
  }
  .article-date {
    font-size: 1.1em;
    color: var(--c-grayish-blue);
  }
  @media (min-width: 760px) {
    main {
      display: grid;

      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "img info"
        "img meta";
      gap: 0;
    }

    .article-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .article-image-wrapper {
      height: 100%;
      grid-area: img;
    }

    .article-container {
      grid-area: info;

      padding: 2em;
    }

    .article-share {
      grid-area: meta;
    }
  }
}
@layer share-components {
  .article-share {
    position: relative;
  }

  .article-share-button {
    background-color: var(--c-light-grayish-blue);
    border: none;
    color: var(--c-desaturated-dark-blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    transition: background-color 0.2s ease;
  }

  .article-share-button:hover {
    scale: 1.1;
  }

  .article-share-button:active {
    scale: 0.9;
  }

  .article-share-active {
    position: absolute;
    height: 100%;
    right: -100%;
    width: 100%;
    background-color: var(--c-very-dark-grayish-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline: 2rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .article-share-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .article-share-text {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--c-grayish-blue);
  }

  .article-share-button.clicked {
    background-color: var(--c-desaturated-dark-blue);
    z-index: 10;
    color: white;
  }

  .article-share-active.active {
    right: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

  @media (min-width: 760px) {
    .article-share-active {
      height: auto;
      width: max-content;
      gap: 1em;
      padding: 1em 1.5em;
      border-radius: 0.75rem;
      position: absolute;
      bottom: 4rem;
      right: 2rem;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }
    .article-share-active.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .article-share-active::after {
      content: "";
      position: absolute;
      bottom: -8px;
      right: 35px;
      width: 1rem;
      height: 1rem;
      background-color: var(--c-very-dark-grayish-blue);
      transform: rotate(45deg);
    }
  }
}

@layer footer {
  footer {
    padding-block: 2rem;
    color: var(--c-very-dark-grayish-blue);
  }
  .attribution {
    font-size: 0.75rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@layer back-button {
  #back-btn {
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 6px 12px;
    background-color: #4e80ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s ease;
  }

  #back-btn:hover {
    transform: scale(1.05);
  }
  #back-btn:focus {
    outline: 2px solid #4e80ee;
    outline-offset: 2px;
  }
}
